/*
Estilos sitio web Replica
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 15px 150px;
}

p{
    font-size: 1.5em;
}

button, input[type="email"] {
    border-radius: 20px;
}

button {
    background-color: #f94c4a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    outline: none;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    /* align-items: baseline; */
    /* border: 1px solid green; */
}

img[alt="Logo"] {
    width: 150px;
    margin-top: 5px;
}

nav {
    flex: 1;
    /* border: 1px solid blue; */
    margin-right: 25px;
}

nav ul {
    /* border: 1px solid red; */
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    font-weight: 700;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #f94c4a;
    cursor: pointer;
}

.box-content {
    margin-top: 50px;
    padding-top: 100px;
    /* margin-right: 150px; */
    background-image: url('../images/img1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* border: 2px solid #f94c4a; */
}

h1, h3 {
    font-size: 4em;
    margin: 0;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 300;
}

.box-middle {
    width: 50%;
    text-align: justify;
}

input[type="email"] {
    border: 1px solid #666;
    padding: 10px 20px;
    outline: none;
}

form {
    margin: 50px 0 35px;
}

.store-buttons {
    display: flex;
    margin: 10px 0;
}

.store-buttons div {
    margin-right: 12px;
}

.store-buttons div img {
    width: 150px;
}

.father-box-content2 {
    /* border: 1px solid darkmagenta; */
    margin-top: 100px;
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.box-content2 {
    width: 720px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid dodgerblue; */
    margin: 50px 0 50px 480px;
}

.box-content2 div {
    width: 350px;
    height: 260px;
    text-justify: justify;
    padding-right: 8px;
    /* border: 1px solid #f94c4a; */
}

.box-content2 div img {
    width: 90px;
    height: 90px;
}

.box-content2 div h5 {
    font-weight: 700;
    font-size: 1.6em;
    margin: 15px 0;
}

.box-content2 div p {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
}