@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  margin: 5px 0;
  padding: 8px 0;
  border: 1px solid #ccc;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
  opacity: .8;
}

.btn:disabled {
  background-color: #ccc;
  border: 1px solid #666;
  cursor: no-drop;
}

.btn:hover {
  opacity: 1;
}

.btn.primary {
  /* background-color: #00a699; */
  background-color: rgb(0, 166, 153);
  background-color: linear-gradient(90deg, rgba(0, 166, 153, 1) 0% rgba(0, 184, 170, 1) 100%);
  color: #fff;
  border: 1px solid #00a699;
}

.page {
  margin: 0 20px 60px 20px;
}

/* topbar */

.form div {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  margin: 10px 0;
  padding: 5px 10px; 
  border-radius: 12px;
}

.form div label {
  color: #666;
}

.form div label span {
  font-size: 1.5em;
  color: #FF5A5F;
}

.form div input, .form div textarea {
  border: none;
  width: 100%;
  font-family: 'Lato';
  resize: none;
  background-color: transparent;
  outline: none;
  font-size: 1.1em;
  margin-top: 5px;
}

.topbar {
  background-color: #FF5A5F;
  padding: 12px 0;
}

.topbar p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}

/* topbar */

/* Navigatiion */
.navigation ul a {
  flex: 1;
  text-decoration: none;
  color: #FF5A5F;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.navigation ul li {
  list-style: none;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  /* margin: 0 30px; */
}

.navigation ul li:hover {
  border-bottom: 4px solid #FF5A5F;
}

.navigation ul li.active ion-icon {
  color: #FF5A5F;
}

.navigation ul li.active {
  border-bottom: 4px solid #FF5A5F;
}

.navigation ul li a {
  text-decoration: none;
  color: #000;
}

.navigation ul li a ion-icon {
  color: #767676; 
  font-size: 1.8em;
}

.navigation ul li:hover a ion-icon {
  color: #FF5A5F;
}

/* Navigatiion */

/* Search */

.searchContainer {
  display: flex;
  /* margin: 0 15px; */
  justify-content: space-between;
  padding-bottom: 15px;
}

.searchContainer input {
  flex: 11;
  padding: 10px;
  border: 1px solid #767676;
  box-shadow: none;
  outline: none;
  border-radius: 50px;
}

.searchContainer input:hover, .searchContainer input:focus {
  box-shadow: 5px 6px 3px #B3B3B3;
}

/* .searchContainer i {
  display: flex;
} */

.searchContainer ion-icon {
  font-size: 1.8em;
  color: #767676;
  /* align-items: center; */
  margin-top: 5px;
  flex: 1; 
}

/* Search */

/* Ranking */

.rankingContainer {
  display: flex;
  overflow-x: auto;
}

.cardContainer {
  padding: 0 10px;
  background-size: cover;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 10px;
  border-radius: 10px;
}

.cardContainer h5 {
  color: #fff;
  font-weight: 600;
  width: 200px;
}

.cardContainer p {
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 7px;
}

/* Ranking */

/* Experiences */

.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardAdventure {
  display: flex;
  height: 300px;
  width: 580px;
  border: 1px solid rgb(54, 54, 54);
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 5px #B3B3B3;
  transition: .01s ease all;
}

.cardAdventure:hover {
  box-shadow: 8px 8px 5px #B3B3B3;
}

.cardAdventure img {
  height: 100%;
  width: 60%;
  background-size: cover;
}

.cardAdventure article {
  height: 100%;
  width: 40%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  /*justify-content = ajustar de acuerdo al flex-direction*/
  justify-content: center;
  line-height: 20pt;
  text-justify: justify;
  color: #555;
}

/* Experiences */

/* cardDetail */

.cardDetail {
  border: 1px solid #f2f2f2;
  box-shadow: 1px 2px 8px #ccc;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 15px;
  
}

.cardDetail img {
  width: 100%;
}

.cardDetail div {
  padding: 12px 10px;
  line-height: 15pt;
  text-align: justify;
}

.cardDetail h3 {
  color: #767676;
  font-weight: 400;
}

.score {
  display: flex;
  align-items: center;
}

.score div {
  display: flex;
  padding: 0;
}

.score p, .score h3 {
  margin: 1.5px;
}

.score ion-icon {
  margin-right: 2px;
  color: #FF5A5F;
}

.score p {
  margin: 5px;
  font-weight: 300;
  margin-left: 12px;
}

/* cardDetail */

.navigationWeb {
  position: fixed;
  display: none;
  width: 280px;
  background-color: #2b2d36;
  height: 100%;
}

.navigationWeb div {
  text-align: center;
  margin: 15px 0;
}

.navigationWeb div img {
  width: 220px;
}

.navigationWeb ul{
  margin-top: 50px;
}

.navigationWeb ul li {
  color: #fff;
  font-weight: 300;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 10px 15px;
  display: flex;
  opacity: .80;
}

.navigationWeb ul li:hover {
  opacity: 1;
}

.navigationWeb ul li span {
  flex: 1;
  margin: 0 10px;
  font-size: 1em;
}

.navigationWeb ul li ion-icon {
  font-size: 1.1em;
  color: #f2f2f2;
}

.mainPage {
  margin-left: 0;
}

@media (min-width: 768px) {
  .navigation {
    display: none;
  }
  .topbar {
    margin-bottom: 10px;
  }
  .navigationWeb {
    display: inline;
  }
  .mainPage {
    margin-left: 280px;
  }
}